# Environment & secrets
.env

#other files
manage.py
documents/
profile/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
